/*Import Roboto*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

/*basic CSS rules*/
html {
    scroll-behavior: smooth;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-x: clip;
}

body {
    font-size: 16px;
    color: #666666;
    background-color: rgb(245, 245, 245);
    margin: 0;
}

main {
    padding: 5px;
    margin: 10px;
}

h1 {
    font-size: 30px;
    color: #4d4d4d;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom: 20px;
}

/*Dark mode alteration*/
.dark-mode h1, .dark-mode h2, .dark-mode h3{
    color: #ececec;
}

/*CSS rules used in multiple cases*/
.flexButtons {
    margin-left: 30px;
    display: flex;
    gap: 30px;
}

/* Error "bar", used on login page*/
.errorLoginPositive {
    background-color: darkseagreen;
}

.errorLoginNegative {
    background-color: #bf383a;
}

.errorLoginPositive, .errorLoginNegative {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    min-height: 30px;
    height: auto;
    overflow: auto;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
    border-radius: 4px;
}

.errorLoginPositive .message, .errorLoginNegative .message {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Styling Reservation form*/
label {
    display: inline-block;
    font-weight: bold;
}

.errors {
    color: #bf383a;
}

label .tooltiptext {
    font-weight: normal;
}

input, select {
    min-width: 200px;
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;
    max-height: 18.5px;
}

/*Dark mode alteration*/
.dark-mode input, .dark-mode select, .dark-mode textarea  {
    border-color: #ececec;
    color: #ececec;
    background-color: #282828;
}

textarea {
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;
    max-width: 60vw;
    max-height: 200px;
    min-height: 100px;
    min-width: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-weight: unset;
    overflow-x: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0%;
    width: 200px;
    background-color: rgb(245, 245, 245);
    color: black;
    text-align: center;
    padding: 5px 5px;
    border: solid 1px #000000;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    text-decoration: unset;
    transition: ease-in-out 300ms;
}

.tooltip img {
    max-width: 15px;
    height: auto;
    overflow-y: unset;
}

.tooltip img:hover {
    cursor: pointer;
}

.tooltip img:hover + .tooltiptext {
    visibility: visible;
    opacity: 100%;
    transition: ease-in-out 300ms;
}

.data-field {
    margin-bottom: 15px;
    display: flex;
}

.flexRequired {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}

.flexRequired .errors {
    font-weight: bold;
}

.flexLabel .errors {
    font-weight: bold;
}

.flexInputWithErrors {
    display: flex;
    gap: 5px;
}

.flexInputWithErrors input, .flexInputWithErrors select {
    padding-left: 3px;
}

/*Styling for Allergy icons within reservation page*/
.label-for-check img {
    display: block;
    opacity: 40%;
    transition-duration: 300ms;
    width: 70px;
}

.label-for-check img:hover {
    opacity: 100%;
    cursor: pointer;
    transition-duration: 300ms;
}

input[type=checkbox]:checked + .label-for-check img {
    opacity: 100%;;
    transition-duration: 300ms;
}

.data-field-allergies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: calc((100% - (220px * 3)));
}

.data-field-allergies label {
    width: auto;
}

.data-field-allergies .data-field {
    flex: 1 0 14.28571428571429%;
}

.data-field-allergies .data-field input {
    display: none;
}

/*Footer Styling*/
footer {
    bottom: 0;
    position: absolute;
    min-height: 1.5rem;
    max-height: 3.0rem;
    margin-left: 10px;
    width: 100%;
    text-align: right;
}

footer section {
    position: unset;
    object-position: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 30px;
}

footer section div {
    position: relative;
    display: inline-block;
}

footer a, .privacy-page a, .daySummary a {
    color: #bf383a;
    text-decoration-line: none;
}

footer a:hover, .privacy-page a:hover, .daySummary a:hover {
    color: #ab3234;
    text-decoration-line: underline;
}

/*Dark mode alteration*/
.dark-mode footer a, .dark-mode .privacy-page a, .dark-mode .daySummary a  {
    color: #ececec;
    text-decoration-line: underline;
}

.dark-mode footer a:hover, .dark-mode .privacy-page a:hover, .dark-mode .daySummary a:hover  {
    color: #dcdcdc;
    text-decoration-line: none;
}

/*These rules make sure the Footer always is placed at the bottom*/
.page-container {
    position: relative;
    min-height: 79vh;
}

#customerTopBar {
    min-height: 85vh;
}

.content-wrap {
    padding-bottom: 4.0rem;
}

/*Specific Styling for the Privacy Statement page*/
.privacy-page h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.privacy-page ul {
    list-style-type: disc;
    padding: revert;

}

.privacy-page ul li {
    list-style-type: disc;
    overflow-x: revert;

}

.privacy-page ul li::marker {
    visibility: visible;
    display: marker;
}

/*Styling Scroll to top Arrow*/
#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #423f3f;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bolder;
    z-index: 50;
}

#top i {
    color: #fff;
    margin: 0;
    position: relative;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#top:hover {
    background-color: #4d4d4d;
    cursor: pointer;
}

#top:hover i {
    color: #fff;
    top: 5px;
}

/*Styling for Tables used on overview pages*/
.middle-table {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 0;
}

.align-middle {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}

table {
    overflow-x: auto;
}

tbody tr:nth-child(odd) {
    background-color: rgb(225, 225, 225);
}

.rights th {
    background-color: rgb(245, 245, 245);
    padding-bottom: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

th {
    background-color: #eaeaea;
    color: black;
    font-weight: bold;
}

td {
    padding: 0 10px;
}

/*Dark mode alterations*/
.dark-mode tbody tr:nth-child(odd) {
    background-color: rgb(45, 45, 45);
}

.dark-mode th {
    background-color: unset;
    color: white;
}

/*Specific Styling for the day settings page*/
.flexDaySettings {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.flexDaySettings .daySummary {
    max-width: 450px;
}

.daySummary .timesLabel {
    min-width: 145px;
}

.daySummaryFlexListItem {
    display: flex;
    gap: 10px;
}

.daySummaryFlexListItem div{
    color: #505050;
    font-style: italic;
}

.dark-mode .daySummaryFlexListItem div{
    color: #cecece;
}


/*Specific Styling for the confirmation page*/
.confirmation-page {
    display: flex;
    align-content: center;
}

.confirmation-page section {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.thanks-img {
    margin-top: 50px;
    width: 200px;
    margin-bottom: 50px;
}

.confirmation-page h1 {
    margin-bottom: 50px;
}

/*Styling for search bar of overview page*/
.search-bar {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.search-bar form {
    align-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.search-bar .date-middle {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 115px;
    position: relative;
    align-content: center;
}

.search-bar input {
    max-height: unset;
    min-width: unset;
}

.date-field {
    height: 30px;
    display: block;
    border: 0;
    background-color: unset;
    width: 140px;
    position: relative;
    font-size: 16px;
    text-align: center;
}

.date-submit {
    display: block;
    position: relative;
    text-align: center;
    width: 145px;
    height: 30px;
    color: white;
    background-color: #423f3f;
    transition-duration: 300ms;
    border-radius: 4px;
    border: 0;
    max-height: unset;
    min-width: unset;
    font-size: 14px;
}

.search-bar a {
    text-decoration: none;
}

.date-submit:hover {
    cursor: pointer;
    background-color: #4d4d4d;
    transition-duration: 300ms;
}

/*Dark mode alteration*/
.dark-mode .date-submit  {
    color: #ececec;
    border: 1px solid #282828;
    background-color: #282828;
}

.dark-mode .date-submit:hover {
    background-color: #282828;
    border: 1px solid #ececec;
    transition-duration: 300ms;
}

.dark-mode .date-field input {
    border: 1px solid #ececec;
    border-radius: 4px;
}

.data-submit input, .data-submit-guest button {
    height: 50px;
    width: 200px;
    max-height: unset;
    min-width: unset;
    display: block;
    margin-top: 30px;
    background-color: #ab3234;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    transition-duration: 300ms;
}

.data-submit input:hover, .data-submit-guest button:hover {
    background-color: #bf383a;
    cursor: pointer;
    transition-duration: 300ms;
}


/*Styling used for landing page after logging in as Employee*/
.navEmployeesButton {
    min-width: 200px;
    min-height: 50px;
    max-width: 200px;
    max-height: 50px;

    margin-bottom: unset;
    position: inherit;
    padding-top: 17px;
    display: block;
    background-color: #423f3f;
    color: white;
    border-radius: 4px;
    border: 1px solid #ececec;
    text-decoration-line: none;
    text-align: center;
    transition-duration: 300ms;

    flex: 1 0 50%;
}

.navEmployeesButton:hover {
    background-color: #4d4d4d;
    cursor: pointer;
    border: 1px solid #282828;
    transition-duration: 300ms;
}

/*Dark mode alteration*/
.dark-mode .navEmployeesButton  {
    color: #ececec;
    border: 1px solid #282828;
    background-color: #282828;
}

.dark-mode .navEmployeesButton:hover {
    background-color: #282828;
    border: 1px solid #ececec;
    transition-duration: 300ms;
}

.navEmployees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    row-gap: 30px;
    column-gap: 50px;
}

.daySummary .labelDetails {
    display: block;
    width: 190px;
    font-weight: bold;
}

#reservationsPlacedToday .labelDetails{
    width: 320px;
}

#reservationsPlacedToday {
    color: #b7b7b7;
}

/*Styling for details pages (reservation, employee, day settings*/
.flexDetails {
    display: flex;
    margin-bottom: 10px;
}

.flexDetailsEmail {
    margin: 0;
    display: flex;
    gap: 5px;
}

.guestLoyaltyIndicator {
    color: #9a9b9b;
    font-style: italic;
}

.flexLabel {
    margin: 0;
    display: flex;
    min-width: 225px;
    overflow-x: visible;
}

.flexLabel img {
    margin-left: 5px;
}

.employeeRights .flexLabel {
    margin: 0;
    display: flex;
    gap: 0;
    min-width: 200px;
}

.labelDetails {
    display: block;
    width: 250px;
    font-weight: bold;
}

.h3detailsEmp {
    margin-bottom: 10px;
    margin-top: 20px;
}

.details {
    padding: 5px;
    margin: 10px;
}

/*Styling for Day settings create page*/
.daySettingsCreate .flexLabel {
    margin: 0;
    display: flex;
    min-width: 250px;
}

.daySettingsCreate input[type=checkbox]:checked + .hide-if-restaurant-closed {
display: none;
}

.verticalFlex {
    flex-direction: column;
    display: flex;
}

.verticalFlex label {
    min-width: 100px;
}

input[type=checkbox] {
    min-width: unset;
}
/*Styling for Whatsapp Button, makes sure it's not displayed op pc*/
.whatsappShareButton {
    display: none;
}

@media screen and (max-width: 1130px) {
    .modal {
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 950px) {
    .modal {
        width: 75%;
        height: 75%;
    }

    .modalAlignCenterDeletionReason {
        display: inline-block;
        justify-content: center;
    }

    .flexDetailsEmail {
        display: inline-block;
    }

    .flexInputWithErrors {
        display: block;
    }

    .data-field span {
        margin-top: 5px;
        display: block;
    }
}

@media screen and (max-width: 1050px) {
    /*Specific Styling for the day settings page*/
    .flexDaySettings .daySummary {
        max-width: unset;
    }

    .flexDaySettings {
        gap: 20px;
        justify-content: left;
    }
}

@media screen and (max-width: 600px) {
    .verticalFlexItem {
        display: flex;
    }

    .flexButtons {
        display: inline-block;
    }

    .flexButtons .data-submit {
        margin-top: 30px;
    }

    .detailsPageButtons form {
        margin-bottom: 10px;
    }

    .flexDetails {
        display: block;
        margin-bottom: 10px;
    }

    textarea {
        max-width: 80vw;
    }

    .data-field {
        display: block;
    }

    .employeeRights .data-field {
        display: flex;
        gap: 30px;
    }

    .employeeRights .data-field input {
        width: 19px;
        min-width: unset;
    }


    .data-field span {
        display: block;
    }

    .data-field input, .data-field select {
        width: 80vw;
    }

    .flexLabel {
        margin-bottom: 5px;
    }

    .modal {
        width: 100%;
        height: 100%;
    }

    .navEmployees {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        gap: 30px;
    }

    .navEmployeesButton {
        max-width: 80%;
        max-height: 80%;
        margin-left: 0;
    }

    nav .content-wrap {
        padding-bottom: 2.5rem;
    }

    .logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 60vw;
        min-width: unset;
        min-height: unset;
    }

    .sideNav {
        width: 80vw;
    }

    .search-bar {
        gap: 30px;
    }

    /*Styling for top bar on mobile*/
    #timeDate {
        display: none;
    }

    .topBarEmployee .logo {
        margin: 0 auto;
    }

    .topBarEmployee .back, .topBarEmployee .ham {
        margin: 20px 10px auto;
    }

    #employeeTopBar {
        min-height: 85vh;
    }

    input[type=checkbox] {
        width: unset;
    }
}

@media screen and (max-width: 540px) {
    /*Styling for Allergy icons on mobile*/
    .data-field-allergies .data-field {
        flex: none;
    }

    /*Styling for search bar on mobile*/
    .search-bar-container {
        display: flex;
        justify-content: center;
    }

    .search-bar {
        flex-direction: column;
        align-self: center;
        margin-bottom: 20px;
        text-align: center;
        gap: 10px;
    }

    /*Mobile Css footer*/
    footer section {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    /*Make sure on mobile the allergy icon is still visible after pressing*/
    .label-for-check img:hover {
        opacity: 40%;
    }

    /*Styling for Whatsapp Button*/
    .inlineBlockWhatsapp {
        display: inline-block;
    }

    .whatsappShareButton {
        display: flex;
        background-color: #3fb73f;
        border-radius: 4px;
        margin-bottom: 30px;
        width: 70vw;
        color: white;
        text-decoration: none;
        cursor: pointer;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }


    .whatsappShareButton div {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .whatsappShareButton img {
        padding-top: 4px;
        padding-bottom: 4px;
        max-width: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    /*Side nav bar takes up full width of screen on mobile*/
    .sideNav {
        width: 100vw;
    }
}